body{
	font-family: sans-serif;
	background: #ccc;
}
.same-line{
	text-align: center;
	border : 1px solid #ddd;
	margin-left: 10px;
	border-collapse: collapse;
	font-family: sans-serif;
	float: left;
}
table, th, td{
	padding: 10px;
}
.odd{
	background: #eee;
}
.even{
	background: white;
}
th, td{
	width: 100px;
	border-right: 1px solid #ddd;
}
.odd:hover{
	background: rgb(255, 100, 0);
	color: white;
	
}
.even:hover{
	background: rgb(255, 100, 0);
	color: white;
}
th{
	background: rgb(47, 193, 76);
	color: white;
}
#main-container{
	background-color: rgb(245, 245, 245);
	max-width: 800px;
	margin: auto;
	text-align: center;
	padding: 20px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3), 0px 0px 30px 0px rgba(0,0,0,0.4);
	display: table;
#container{
	width: 90%;
	margin: auto;
}
